[Unit]
Description=User configuration service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
ExecStart=/bin/bash -c '/userconfig/userconfig.sh'

[Install]
WantedBy=multi-user.target